body {
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.background {
    position: fixed; /* Make it cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b2929;
    background-size: cover; 
    z-index: -1; /* Send it behind other content */
}
.content{
    position: relative; /* Ensure it stays above the background */
    z-index: 1; /* Bring the content above the background */
    color: #fff; 
    text-align: center; 
    padding: 20px; 
}

.header {
    text-align: center;
    padding: 20px;
    position: relative;
}

.header h6 {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

.header h6::before, .header h6::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px; /* Length of the line */
    height: 2px;  /* Thickness of the line */
    background-color: #ffffff; /* Color of the line */
}

.header h6::before {
    left: -110px; /* Adjust the position to the left */
}

.header h6::after {
    right: -110px; /* Adjust the position to the right */
}
.header h1{
    text-align: center;
    margin: 20px;
    position: relative;
}
.carousel-container {
    position: relative;
    width: 50%;
    max-width: 800px; 
    margin: auto;
    
}

.carousel {
    display: flex; /* Display images in a row */
    transition: transform 1s ease-in-out; /* Smooth transition */
    gap: 20px;
    transform-origin: center; /* Transform around the center */
}

.carousel img {
    width: 100%; 
    height: auto; 
    flex-shrink: 0; /* Prevent images from shrinking */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 

}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:100px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 5;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.pagination {
    text-align: center; 
    margin-top: 10px;
    
}

.pagination .dot {
    display: inline-block;
    width: 10px; 
    height: 10px; 
    margin: 0 5px; 
    border-radius: 50%;
    background-color: #7a7878; /* Inactive dot color */
    cursor: pointer; 
}

.pagination .active {
    background-color: #ffffff; /* Active dot color */
}

/* Extra large screens (XXL) */
@media (min-width: 1200px) {
    .body {
      font-size: 0.75vw;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .body {
      font-size: 1.7vw;
    }
}

/* Small screens */
@media (min-width: 576px) and (max-width: 767px) {
    .body {
      font-size: 1.5vw;
    }
}

/* Tiny screens (like mobile phones) */
@media (max-width: 575px) {
    .body {
      font-size: 2.5vw;
    }
}
